<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->


<root>
    <beans:beans   xmlns="http://www.springframework.org/schema/security"
xmlns:beans="http://www.springframework.org/schema/beans "
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/security
http://www.springframework.org/schema/security/spring-30.xsd">  
     
<global-method-security secured-annotations="enabled">
    
</global-method-security> 
   
<http access-denied-page='/accessDenied.html' use-expressions="true">
      <intercept-url  pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
      <intercept-url  pattern="/VAADIN/**"  filters="none"/>
      <intercept-url  pattern="/*.jsp" filters="none"/>
      <intercept-url  pattern="/Welcome.html" access="hasRole('ROLE_ADMIN')"/>
     <form-login login-page='/login.html' authentication-failure-url='/accessDenied.html' 
                    default-target-url='/login.html'   />
  
                              
    <authentication-manager  alias="authenticationManager">
       <authentication-provider>
           <password-encoder  hash="md5"/>
           <jdbc-user-service  data-source-ref="dataSource"
           users-by-username-query="Select  username,passwd,enabled  From  Users u where u.username=?"
           authorities-by-username-query="Select  u.username r.rolename FROM  Users u,Roles  r WHERE  u.id =r.role_id AND u.username=?"/>
       </authentication-provider> 
    </authentication-manager>   
    
     <authentication-manager  >
        <authentication>
            <user-service>
             <user  name="jimi"  password="d7e6351eaa13189a5a3641bab846c8e8c69ba39f"
               authorities="ROLE_USER,ROLE_ADMIN" />  
             <user name="bob"
              password="4e7421b1b8765d8f9406d87e7cc6aa784c4ab97f"  authorities="ROLE_USER"/> 
            </user-service>   
        </authentication>  
    </authentication-manager>  
      
      
       <user-service>
                <user name="cput" password="cput123" authorities="admin" />
            </user-service>  
            
        </beans:beans >
        
</root>
