/* 
    Document   : BuilderStyle
    Created on : 10 May 2013, 6:21:24 PM
    Author     : Wallied
    Description:
        Purpose of the stylesheet follows.
*/

root 
{ 
    display: block;
}

text
{
    height:200px;
    font-size:14pt;
}



